.start-page__header {
  margin: 0 auto;
  padding: 25px 300px;
  display: flex;
  background-color: #6984ff;
}

.start-page__header a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.start-page__header a img {
  border-radius: 50%;
}

.start-page__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
  padding: 25px 300px;
  min-height: calc(100vh - 280px);
  background-color: #ebebed;

  text-align: end;
}

.start-page__title {
  color: #fff;
  font-size: 90px;
  font-weight: 600;
  margin: 0;
}

.start-page__title--white {
  text-shadow: -1px -1px 0 #6984ff, 1px -1px 0 #6984ff, -1px 1px 0 #6984ff,
    1px 1px 0 #6984ff;
}

.start-page__title--blue {
  color: #6984ff;
  white-space: nowrap;
}

.start-page__text {
  position: relative;
  padding: 40px 60px;
  border-radius: 24px;
  background: #f3db66;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  animation: slideRight 2s ease-in-out forwards;
  opacity: 0;
}

.start-page__logo {
  animation: scaleUp 3s ease-in-out forwards;
  transform-origin: 0% 50%;
  width: 700px;
  height: 700px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50%;
  padding: 10px;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.start-page__footer {
  margin: 0 auto;
  padding: 25px 300px;
  background-color: #6984ff;
}

.start-page__footer a {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #f3db66;
  }
}
